## Data Description

Clean the data..(missing values,outliers,type casting,duplicate,variance,...etc)

In [ ]:
import pandas as pd
import numpy as np

In [4]:
aa=pd.read_excel(r"C:\Users\manne\Downloads\shopping.xlsx")

In [5]:
aa

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,NaN,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,NaN,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,NaN,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,NaN,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,NaN,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [6]:
aa.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
aa.drop('Customer ID',axis = 1 , inplace = True)
aa

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [13]:
aa.isna().sum()

Age                       2
Gender                    5
Item Purchased            4
Category                  4
Purchase Amount (USD)     0
Location                  2
Size                      0
Color                     4
Season                    3
Review Rating             2
Subscription Status       2
Shipping Type             0
Discount Applied          7
Promo Code Used           7
Previous Purchases        0
Payment Method            4
Frequency of Purchases    3
dtype: int64

In [19]:
aa['Age'].fillna(aa['Age'].median(),inplace =True)
aa['Gender'].fillna(aa['Gender'].mode()[0],inplace =True)
aa['Item Purchased'].fillna(aa['Item Purchased'].mode()[0],inplace =True)
aa['Category'].fillna(aa['Category'].mode()[0],inplace =True)
aa['Location'].fillna(aa['Location'].mode()[0],inplace =True)
aa['Color'].fillna(aa['Color'].mode()[0],inplace =True)
aa['Season'].fillna(aa['Season'].mode()[0],inplace =True)
aa['Review Rating'].fillna(aa['Review Rating'].mode()[0],inplace =True)
aa['Subscription Status'].fillna(method= 'bfill',inplace =True)
aa['Discount Applied'].fillna(method='ffill',inplace =True)
aa['Promo Code Used'].fillna(aa['Promo Code Used'].mode()[0],inplace =True)
aa['Payment Method'].fillna(method='ffill',inplace =True)
aa['Frequency of Purchases'].fillna(method='ffill',inplace =True)

In [20]:
aa.isna().sum()                        # no missing value

Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [22]:
aa['Age']= np.where(((aa['Age']<0) | (aa['Age']>100)),40,aa['Age'])                  # outliner
aa['Age']

0       55.0
1       19.0
2       50.0
3       21.0
4       40.0
        ...
2677    70.0
2678    24.0
2679    67.0
2680    24.0
2681    62.0
Name: Age, Length: 2682, dtype: float64

In [24]:
aa['Review Rating'] = np.where(((aa['Review Rating']<0)|(aa['Review Rating']>5)),3,aa['Review Rating'])
aa['Review Rating']

0       3.1
1       3.0
2       3.1
3       3.5
4       2.7
       ...
2677    3.2
2678    4.0
2679    3.0
2680    4.2
2681    2.9
Name: Review Rating, Length: 2682, dtype: float64

In [25]:
aa[(aa['Review Rating']<0)|(aa['Review Rating']>5)]

Empty DataFrame
Columns: [Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

In [26]:
aa[aa.duplicated()]       #duplicated

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2583,63.0,Male,Boots,Footwear,21,Texas,L,Gray,Summer,3.0,No,Express,No,No,4,Credit Card,Quarterly
2584,47.0,Male,Jacket,Outerwear,97,Mississippi,M,Silver,Spring,3.2,No,2-Day Shipping,No,Yes,16,Cash,Weekly
2585,42.0,Male,Backpack,Accessories,63,Texas,L,Pink,Winter,3.8,No,Standard,No,No,34,Credit Card,Monthly
2586,41.0,Male,Jacket,Outerwear,60,Virginia,M,Red,Fall,2.7,No,Standard,No,No,11,Debit Card,Every 3 Months
2587,53.0,Male,Pants,Footwear,52,New Hampshire,XL,Peach,Fall,3.0,No,Store Pickup,No,No,30,Debit Card,Fortnightly
2588,29.0,Male,Shoes,Footwear,32,Minnesota,M,Maroon,Winter,4.1,No,Next Day Air,No,No,40,Debit Card,Annually
2589,61.0,Male,Belt,Accessories,48,Maryland,XL,Purple,Spring,3.2,No,2-Day Shipping,No,No,13,Credit Card,Annually
2590,69.0,Male,Jewelry,Accessories,25,Vermont,M,Maroon,Summer,4.5,No,Store Pickup,No,No,28,Venmo,Every 3 Months
2591,51.0,Male,Jewelry,Accessories,68,Kansas,M,Gray,Summer,4.3,No,Store Pickup,No,No,49,Debit Card,Bi-Weekly
2592,24.0,Male,Pants,Clothing,74,Idaho,M,Gray,Fall,3.5,No,Standard,No,Yes,23,Credit Card,Weekly
2593,24.0,Male,T-shirt,Clothing,88,Montana,XL,Magenta,Fall,3.1,No,Standard,No,No,4,Bank Transfer,Quarterly
2594,70.0,Male,Shorts,Clothing,23,Oklahoma,L,Cyan,Spring,3.9,No,Standard,No,No,17,PayPal,Fortnightly
2595,49.0,Male,Hoodie,Clothing,32,California,M,Silver,Fall,2.7,No,Express,No,No,24,PayPal,Fortnightly
2596,48.0,Male,Belt,Accessories,71,Mississippi,S,Green,Winter,4.0,No,Free Shipping,No,No,21,Debit Card,Every 3 Months
2597,58.0,Male,Boots,Footwear,62,California,M,Violet,Spring,2.7,No,Next Day Air,No,No,17,Debit Card,Bi-Weekly
2598,32.0,Male,Hoodie,Clothing,20,New York,L,Magenta,Spring,2.7,No,Free Shipping,No,No,22,Debit Card,Quarterly
2669,51.0,Male,Jacket,Outerwear,25,New York,M,Magenta,Fall,4.3,Yes,Free Shipping,Yes,Yes,34,Credit Card,Monthly
2670,38.0,Male,Boots,Footwear,88,Washington,M,Lavender,Summer,3.9,Yes,Next Day Air,Yes,Yes,41,Credit Card,Fortnightly
2671,59.0,Male,Scarf,Accessories,78,South Carolina,M,Black,Fall,3.2,Yes,2-Day Shipping,Yes,Yes,41,Credit Card,Monthly
2672,57.0,Male,Jewelry,Accessories,45,Utah,M,Turquoise,Winter,4.8,Yes,Standard,Yes,Yes,39,Credit Card,Fortnightly
2673,54.0,Male,Pants,Accessories,73,Idaho,XL,Green,Summer,3.8,Yes,Express,Yes,Yes,32,Cash,Weekly
2674,25.0,Male,Dress,Clothing,61,Pennsylvania,S,Teal,Summer,3.3,Yes,Next Day Air,Yes,Yes,29,Venmo,Monthly
2675,69.0,Male,Blouse,Clothing,22,Missouri,S,Beige,Fall,4.3,Yes,Free Shipping,Yes,Yes,15,Bank Transfer,Annually
2676,57.0,Male,Hat,Accessories,38,Nebraska,L,Magenta,Spring,2.7,Yes,Express,Yes,Yes,33,Venmo,Annually
2677,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [28]:
aa.duplicated().sum()

29

In [29]:
aa.drop_duplicates(inplace=True)

In [31]:
aa.duplicated().sum()

0

In [32]:
aa.info()       ##Type casting

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2653 entries, 0 to 2668
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2653 non-null   float64
 1   Gender                  2653 non-null   object
 2   Item Purchased          2653 non-null   object
 3   Category                2653 non-null   object
 4   Purchase Amount (USD)   2653 non-null   int64
 5   Location                2653 non-null   object
 6   Size                    2653 non-null   object
 7   Color                   2653 non-null   object
 8   Season                  2653 non-null   object
 9   Review Rating           2653 non-null   float64
 10  Subscription Status     2653 non-null   object
 11  Shipping Type           2653 non-null   object
 12  Discount Applied        2653 non-null   object
 13  Promo Code Used         2653 non-null   object
 14  Previous Purchases      2653 non-null   int64
 15  Payment Method          2653 non-null   object
 16  Frequency of Purchases  2653 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 373.1+ KB

In [33]:
aa['Age']=aa['Age'].astype('float16')
aa['Purchase Amount (USD)']=aa['Purchase Amount (USD)'].astype('int8')
aa['Review Rating']=aa['Review Rating'].astype('float16')
aa['Previous Purchases']=aa['Previous Purchases'].astype('int8')

In [35]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2653 entries, 0 to 2668
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2653 non-null   float16
 1   Gender                  2653 non-null   object
 2   Item Purchased          2653 non-null   object
 3   Category                2653 non-null   object
 4   Purchase Amount (USD)   2653 non-null   int8
 5   Location                2653 non-null   object
 6   Size                    2653 non-null   object
 7   Color                   2653 non-null   object
 8   Season                  2653 non-null   object
 9   Review Rating           2653 non-null   float16
 10  Subscription Status     2653 non-null   object
 11  Shipping Type           2653 non-null   object
 12  Discount Applied        2653 non-null   object
 13  Promo Code Used         2653 non-null   object
 14  Previous Purchases      2653 non-null   int8
 15  Payment Method          2653 non-null   object
 16  Frequency of Purchases  2653 non-null   object
dtypes: float16(2), int8(2), object(13)
memory usage: 305.7+ KB

In [36]:
## variance

In [37]:
aa['Age'].var()

234.8

In [39]:
aa['Gender'].nunique()

1

In [40]:
aa['Item Purchased'].unique(),aa['Item Purchased'].nunique()

(array(['Blouse', 'Sweater', 'Jeans', 'Sandals', 'Sneakers', 'Shirt',
        'Shorts', 'Coat', 'Handbag', 'Shoes', 'Dress', 'Skirt',
        'Sunglasses', 'Pants', 'Jacket', 'Hoodie', 'Jewelry', 'T-shirt',
        'Scarf', 'Hat', 'Socks', 'Backpack', 'Belt', 'Boots', 'Gloves'],
       dtype=object),
 25)

In [41]:
aa['Category'].unique(),aa['Category'].nunique()

(array(['Clothing', 'Footwear', 'Outerwear', 'Accessories'], dtype=object), 4)

In [42]:
aa['Purchase Amount (USD)'].unique(),aa['Purchase Amount (USD)'].nunique()

(array([ 53,  64,  73,  90,  49,  20,  85,  34,  97,  31,  68,  72,  51,
         81,  36,  38,  48,  62,  37,  88,  22,  25,  56,  94,  79,  67,
         91,  33,  69,  45,  60,  76,  39, 100,  21,  43,  54,  55,  30,
         28,  59,  24,  83,  46,  70,  29,  26,  58,  96,  40,  32,  95,
         41,  47,  99,  87,  92,  98,  89,  35,  75,  65,  86,  84,  77,
         27,  23,  74,  80,  42,  61,  82,  78,  93,  50,  57,  66,  44,
         52,  71,  63], dtype=int8),
 81)

In [43]:
aa['Location'].unique(),aa['Location'].nunique()

(array(['Kentucky', 'Maine', 'Massachusetts', 'Rhode Island', 'Oregon',
        'Wyoming', 'Montana', 'Louisiana', 'California', 'Missouri',
        'Arkansas', 'Hawaii', 'Delaware', 'New Hampshire', 'New York',
        'Alabama', 'Mississippi', 'North Carolina', 'Oklahoma', 'Florida',
        'Texas', 'Nevada', 'West Virginia', 'Kansas', 'Colorado',
        'North Dakota', 'Illinois', 'Indiana', 'Arizona', 'Alaska',
        'Tennessee', 'Ohio', 'New Jersey', 'Maryland', 'Vermont',
        'New Mexico', 'South Carolina', 'Idaho', 'Pennsylvania',
        'Connecticut', 'Utah', 'Virginia', 'Georgia', 'Nebraska', 'Iowa',
        'South Dakota', 'Minnesota', 'Washington', 'Wisconsin', 'Michigan'],
       dtype=object),
 50)

In [50]:
aa['Size'].unique(),aa['Size'].nunique()
aa['Color'].unique(),aa['Color'].nunique()
aa['Season'].unique(),aa['Season'].nunique()
aa['Subscription Status'].unique(),aa['Subscription Status'].nunique()
aa['Shipping Type'].unique(),aa['Shipping Type'].nunique()
aa['Discount Applied'].unique(),aa['Discount Applied'].nunique()
aa['Promo Code Used'].unique(),aa['Promo Code Used'].nunique()
aa['Payment Method'].unique(),aa['Payment Method'].nunique()
aa['Frequency of Purchases'].unique(),aa['Frequency of Purchases'].nunique()

(array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
        'Monthly', 'Every 3 Months'], dtype=object),
 7)

In [47]:
aa['Review Rating'].var()

0.5093

In [48]:
aa['Purchase Amount (USD)'].var()

567.1488803761813

In [49]:
aa['Previous Purchases'].var()

206.56483652929407

In [51]:
#3 Dummy variable

In [52]:
aa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2653 entries, 0 to 2668
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2653 non-null   float16
 1   Gender                  2653 non-null   object
 2   Item Purchased          2653 non-null   object
 3   Category                2653 non-null   object
 4   Purchase Amount (USD)   2653 non-null   int8
 5   Location                2653 non-null   object
 6   Size                    2653 non-null   object
 7   Color                   2653 non-null   object
 8   Season                  2653 non-null   object
 9   Review Rating           2653 non-null   float16
 10  Subscription Status     2653 non-null   object
 11  Shipping Type           2653 non-null   object
 12  Discount Applied        2653 non-null   object
 13  Promo Code Used         2653 non-null   object
 14  Previous Purchases      2653 non-null   int8
 15  Payment Method          2653 non-null   object
 16  Frequency of Purchases  2653 non-null   object
dtypes: float16(2), int8(2), object(13)
memory usage: 305.7+ KB

In [53]:
pd.get_dummies(aa["Item Purchased"])

,Backpack,Belt,Blouse,Boots,Coat,Dress,Gloves,Handbag,Hat,Hoodie,...,Scarf,Shirt,Shoes,Shorts,Skirt,Sneakers,Socks,Sunglasses,Sweater,T-shirt
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2665,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2666,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2668,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
pd.get_dummies(aa["Category"])

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
1               0         1         0          0
2               0         1         0          0
3               0         0         1          0
4               0         1         0          0
...           ...       ...       ...        ...
2664            0         1         0          0
2665            1         0         0          0
2666            0         1         0          0
2667            0         0         1          0
2668            1         0         0          0

[2653 rows x 4 columns]

In [57]:
pd.get_dummies(aa["Category"],drop_first=True)

      Clothing  Footwear  Outerwear
0            1         0          0
1            1         0          0
2            1         0          0
3            0         1          0
4            1         0          0
...        ...       ...        ...
2664         1         0          0
2665         0         0          0
2666         1         0          0
2667         0         1          0
2668         0         0          0

[2653 rows x 3 columns]

In [58]:
pd.get_dummies(aa["Size"])

      L  M  S  XL
0     1  0  0   0
1     1  0  0   0
2     0  0  1   0
3     0  1  0   0
4     0  1  0   0
...  .. .. ..  ..
2664  0  1  0   0
2665  0  1  0   0
2666  1  0  0   0
2667  0  1  0   0
2668  0  1  0   0

[2653 rows x 4 columns]

In [59]:
pd.get_dummies(
    aa,
    columns=['Shipping Type', 'Discount Applied', 'Promo Code Used', 'Payment Method', 'Frequency of Purchases'],
    prefix=['Shipping Type', 'Discount Applied', 'Promo Code Used', 'Payment Method', 'Frequency of Purchases'],
    drop_first=True
)

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,...,Payment Method_Credit Card,Payment Method_Debit Card,Payment Method_PayPal,Payment Method_Venmo,Frequency of Purchases_Bi-Weekly,Frequency of Purchases_Every 3 Months,Frequency of Purchases_Fortnightly,Frequency of Purchases_Monthly,Frequency of Purchases_Quarterly,Frequency of Purchases_Weekly
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,...,0,0,0,1,0,0,1,0,0,0
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.000000,...,0,0,0,0,0,0,1,0,0,0
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,...,1,0,0,0,0,0,0,0,0,1
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,...,0,0,1,0,0,0,0,0,0,1
4,40.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,51.0,Male,Pants,Clothing,84,Illinois,M,Gray,Spring,3.900391,...,0,0,1,0,1,0,0,0,0,0
2665,23.0,Male,Gloves,Accessories,21,Minnesota,M,Magenta,Fall,3.900391,...,0,0,0,0,0,0,1,0,0,0
2666,20.0,Male,Socks,Clothing,35,Oregon,L,Maroon,Summer,4.199219,...,1,0,0,0,0,1,0,0,0,0
2667,51.0,Male,Sneakers,Footwear,43,Tennessee,M,Cyan,Summer,4.601562,...,0,0,1,0,0,0,0,0,1,0
2668,51.0,Male,Backpack,Accessories,94,Missouri,M,Olive,Spring,3.099609,...,0,0,1,0,0,0,0,0,1,0

In [60]:
##binning or discretization

In [61]:
def status(n):
    if n == 'Yes':
        return 1
    else:
        return 0

In [64]:
aa['Subscription Status'].apply(status)

0       1
1       1
2       1
3       1
4       1
       ..
2664    0
2665    0
2666    0
2667    0
2668    1
Name: Subscription Status, Length: 2653, dtype: int64

In [65]:
###Scaling

In [66]:
aa["Age"].mean(),aa["Age"].median()

(inf, 44.0)

In [69]:
def normalization(x):
    n = (x-aa["Age"].min())/(aa["Age"].max()-aa["Age"].min())
    return n

In [70]:
aa["Age"].apply(normalization)

0       0.711538
1       0.019231
2       0.615385
3       0.057692
4       0.423077
          ...
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
2668    0.634615
Name: Age, Length: 2653, dtype: float64